<form name="form" class="css-form" novalidate>
  <md-content class="md-padding" controller="inputController as vm" >

    <div layout layout-sm="column">
  <md-input-container flex>
    <div class="numberInput" >
      <label>Age (years)</label>
      <input type="number" ng-model="vm.user.age" min="0" max="100" integer >
    </div>
  </md-input-container>
  <md-input-container flex>
    <div class="numberInput">
      <label>Weight (kg)</label>
      <input type="number" ng-model="vm.user.weight" min="0" max="100" integer >
    </div>
  </md-input-container>

  </div>
  <div layout layout-sm="column">
    <md-input-container flex>
      <div class="numberInput">
        <label>Hemoglobin (mg/dl)</label>
        <input type="number" ng-model="vm.user.weight" min="0" max="100" integer >
      </div>
    </md-input-container>
    <md-input-container flex>
      <div class="numberInput">
        <label>Creatinine (mg/dl)</label>
        <input type="number" ng-model="vm.user.age" min="0" max="100" integer >
      </div>
    </md-input-container>
  </div>
  <div layout layout-sm="column">
    <md-input-container flex>
      <div class="numberInput">
        <label>Systolic blood pressure (mm Hg)</label>
        <input type="number" ng-model="vm.user.weight" min="0" max="100" integer >
      </div>
    </md-input-container>
    <md-input-container flex>
      <div class="numberInput">
        <label class="wrap">Diastolic blood pressure (mm Hg)</label>
        <input type="number" ng-model="vm.user.age" min="0" max="100" integer >
      </div>
    </md-input-container>
  </div>
  <div layout layout-sm="column">
    <md-input-container flex>
      <div class="numberInput">
        <label>Heart rate (beats/min)</label>
        <input type="number" ng-model="vm.user.weight" min="0" max="100" integer >
      </div>
    </md-input-container>
    <md-input-container flex>
      <div class="numberInput">
        <label>Disposable income (SEK)</label>
        <input type="number" ng-model="vm.user.age" min="0" max="100" integer >
      </div>
    </md-input-container>
  </div >
  <md-button class="md-raised md-warn" ng-click="vm.incrementWeight()">
      Calculate
  </md-button>
</md-content>
</form>
