<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script src="//d3js.org/d3.v4.min.js"></script>
<md-content class="md-padding" ng-controller="test2Controller as vm">
<div survival-chart></div>
</md-content>
