<md-content class="md-padding" ng-controller="testController as vm">
    <form name="form" class="css-form" novalidate>
        <div layout layout-sm="column">
          <md-input-container flex>
            <div class="numberInput" >
              <label>Age (years)</label>
              <input type="number" ng-model="vm.data.age" min="0" max="100" integer >
            </div>
          </md-input-container>
          <md-input-container flex>
            <div class="numberInput">
              <label>Weight (kg)</label>
              <input type="number" ng-model="vm.data.weight" min="0" max="120" integer >
            </div>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <div class="numberInput">
              <label>Hemoglobin (mg/dl)</label>
              <input type="number" ng-model="vm.data.hb" min="0" max="150" integer >
            </div>
          </md-input-container>
          <md-input-container flex>
            <div class="numberInput">
              <label>Creatinine (mg/dl)</label>
              <input type="number" ng-model="vm.data.creat" min="0" max="200" integer >
            </div>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <div class="numberInput">
              <label>Systolic blood pressure (mm Hg)</label>
              <input type="number" ng-model="vm.data.SBP" min="0" max="200" integer >
            </div>
          </md-input-container>
          <md-input-container flex>
            <div class="numberInput">
              <label class="wrap">Diastolic blood pressure (mm Hg)</label>
              <input type="number" ng-model="vm.data.DBP" min="0" max="200" integer >
            </div>
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <div class="numberInput">
              <label>Heart rate (beats/min)</label>
              <input type="number" ng-model="vm.data.HR" min="0" max="100" integer >
            </div>
          </md-input-container>
          <md-input-container flex>
            <div class="numberInput">
              <label>Disposable income (SEK)</label>
              <input type="number" ng-model="vm.data.dispInc" min="0" max="10000" integer >
            </div>
          </md-input-container>
        </div >
    </form>
    <md-button class="md-raised md-warn" ng-click="vm.getPred()">
        Calculate
    </md-button>
</md-content>
