<md-content ng-controller="UsageController as vm" class="md-padding" layout="row">
  <div flex>
    <nvd3 options="vm.chartOptions" data="vm.ramChartData"></nvd3>
    <h4 class="donut-chart-title">Survival</h4>
  </div>
  <div flex>
    <nvd3 options="vm.chartOptions" data="vm.storageChartData"></nvd3>
    <h4 class="donut-chart-title">Cluster</h4>
  </div>
</md-content>
