<head>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>

</head>

<div layout-gt-md="row">
  <panel-widget flex title="Patient Details" template="app/views/partials/test.html"></panel-widget>
  <panel-widget flex title="Kaplan-Meier curve" template="app/views/partials/test2.html"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Survival Curve" template="app/views/partials/survival_curve.html"></panel-widget>

</div>
