

<div layout="column" flex>
    <md-toolbar layout="row" layout-align="left">
            <h2 class="title">
              Cardiac Failure Prediction
            </h2>
    </md-toolbar>

    <md-content flex class="md-padding page-content">
        <div ui-view></div>
    </md-content>
</div>
